<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.argus.sms.app" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature android:name="android.hardware.telephony" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/argus_logo"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.argus.sms.app.activity.ActivityDashboard"
            android:configChanges="locale"
            android:label="@string/application_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivitySettings"
            android:configChanges="locale"
            android:label="@string/title_activity_activity_settings"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivityDashboard" />
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivityReportWeekly"
            android:label="@string/title_activity_activity_report_weekly"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivityDashboard" />
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivityReportMonthly"
            android:label="@string/title_activity_activity_report_monthly"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivityDashboard" />
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivityReportDetail"
            android:label="@string/title_activity_activity_report_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivityAlert"
            android:label="@string/title_activity_activity_alert"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivityDashboard" />
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivityHistory"
            android:label="@string/title_activity_activity_history"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivityDashboard" />
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivityHistoryDetail"
            android:label="@string/title_activity_activity_historydetail"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivityHistory" />
        </activity>
        <activity
            android:name="org.argus.sms.app.activity.ActivitySynchronization"
            android:label="@string/title_activity_activity_synchronisation"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivitySettings" />
        </activity>
        <!--<activity
            android:name="org.argus.sms.app.activity.ActivityPush"
            android:label="@string/title_activity_activity_push"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.argus.sms.app.activity.ActivitySettings" />
        </activity>-->

        <provider
            android:name="org.argus.sms.app.provider.SesProvider"
            android:authorities="@string/config_authority"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <receiver android:name="org.argus.sms.app.receiver.SmsReceiver" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.argus.sms.app.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.argus.sms.app.service.ServiceReminder"
            android:exported="false" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="7cc7cb6974a476c88eaefd8f8f18727ed0ba945a" />

    </application>

</manifest>
