
/*
 Documentation CSS
*/

.documentation {
	background-color: #ededed;
	padding: 40px 0px 45px 0px;
}

.documentation-a {
	color: black;
}

.documentation-a:hover {
	color: #561062;
	text-decoration: none;
}

.documentation-a:hover .documentation-img-hover {
	display: inline;
}
.documentation-a:hover .documentation-img {
	display: none;
}

.documentation-title {
	 font-family: 'Roboto Medium', arial;
	  font-size: 38px;
	  text-align: center;
	  margin-bottom: 5px;
	  padding: 0 10px;
	  position: relative;
	  margin-top: -5px;
}

.documentation-title:hover {
	color: #561062;
}

.documentation-description {
	font-family: 'Roboto Medium', arial;
	text-align: center;
	font-size: 24px;
	padding-top: 30px;
	margin-bottom: 25px;
}

.documentation-img-hover {
	display: none;
}


.documentation-element {
	margin-top: 50px;
	text-align: center;
}

.documentation-p {
	font-family: 'Roboto Regular', arial;
	text-align: center;
	font-size: 19px;
}

.documentation-ok {
	padding-right:10px;
}
