
/*
 Download CSS
*/

.download {
	padding: 40px 0px 60px;
}

.download-description {
	font-family: 'Roboto Medium', arial;
	text-align: center;
	font-size: 22px;
}

.download-img {
	background:transparent url('../img/download/download.png') no-repeat center;
	width: 83px;
	height: 83px;
}

.btn-argus {
	font-family: 'Roboto Medium', arial;
	background-color: #561062;
	color: white;
	font-size: 24px;
	padding: 10px 20px;
}

.btn-argus:hover {
	background-color: #821894;
}