
/*
 Explanation CSS
*/

.explanation {
	background-image: linear-gradient(to bottom, white, white 20%, #ededed 20%);
	overflow-x: hidden;
	padding: 10px 0px 35px 0px;
}

.explanation-content {
	padding-top: 180px;
	padding-right: 40px;
}

.explanation-p {
	font-family: 'Roboto Regular', arial;
	text-align: right;
	font-size: 19px;
	line-height: 180%;
	margin-bottom: 23px;
}

@media screen and (max-width: 600px) {
	.explanation {
		background-image: none;
		background-color: #ededed;
	}
	
	.explanation-content {
		padding-top: 25px;
	}
	
	.explanation-p {
		text-align: center;
	}
	
	.explanation-img {
		display: none;
	}
}

