
/*
 General CSS
*/

.general {
	padding-bottom: 0px;
	padding: 30px 0px 10px 0px;
}

.general-title {
  font-family: 'Roboto Medium', arial;
  font-size: 38px;
  text-align: center;
  margin-bottom: 25px;
  padding: 0 10px;
  position: relative;
}

.general-p {
	font-family: 'Roboto Medium', arial;
	text-align: center;
	font-size: 24px;
}

.general-img {
	background:transparent url('../img/general/logo.png') no-repeat center;
	width: 103px;
	height: 92px;
}