<div class="d-flex content">
    <div class="who">
        <img src="./assets/footer/who/{{ lang }}/logo_who.jpg" alt="Logo Who" />
    </div>
    <div class="other" *ngIf="imgOther">
        <img src="./assets/footer/other/{{ imgOther }}"/>
    </div>
    <div class="ml-auto disclaimer">
        <span translate>global.footer.disclaimer</span>
    </div>
    <!-- <div class="ml-auto powered-by">
        <span translate>Powered by</span><img src="./assets/footer/logo_novel-t.jpg" alt="Logo Powered by" />
    </div>  -->
</div>