/* Custom Css to override current style */
/* ************************************ */

/* Override Navbar */
/*
.navbar-default {
    background-color: #ff3e90;
}

.navbar-default .navbar-brand {
    color: lawngreen;
}
*/

/* Override panels */
/*
.panel-success > .panel-heading {
    background-color: #128f76;
}
*/
