<label for="optType" class="col-sm-2 control-label">{{ 'Type'|trans }}&nbsp;&nbsp;</label>
<div class="col-sm-10">
    <div class="radio" id="optType">
        <label>
            <input type="radio" name="optionsRadios" id="optRadioWeekly" value="Weekly" {% if (enabledWeeklyReport == true) %} checked {% else %} disabled="true" {% endif %} onchange="argusContext.changeReportMode();">{{ 'Weekly Report' | trans }}
        </label>
        <label class="col-sm-offset-2">
            <input type="radio" name="optionsRadios" id="optRadioMonthly" value="Monthly" {% if (enabledMonthlyReport == false) %} disabled="true" {% elseif (enabledWeeklyReport == false) %} checked  {% endif %} onchange="argusContext.changeReportMode();">{{ 'Monthly Report' | trans }}
        </label>
    </div>
</div>