
<div class="well">
    <form class="form-horizontal">
        <div id="divFilterType" class="form-group">
            {#{{ include('report/filters-type.html.twig') }}#}
        </div>
        <div id="divFilterStatus" class="form-group">
            {# {{ include('report/filters-status.html.twig') }}#}
        </div>
        <div class="form-group has-feedback">
            <label for="dateRangePicker" class="col-sm-2 control-label">{{ 'Period' | trans }}</label>
            <input type="hidden" id="rangeStartWeekly">
            <input type="hidden" id="rangeEndWeekly">
            <input type="hidden" id="rangeStartMonthly">
            <input type="hidden" id="rangeEndMonthly">
            <div class="col-sm-10">
                <input type="text" id="dateRangePicker" class="form-control" aria-describedby="inputCalendar">
                <input type="text" id="dateRangePickerMonthly" class="form-control" aria-describedby="inputCalendar">
            </div>
        </div>
        {# Manual Entry functionality deactivated 09/14/2015 #}
        {#
        <button disabled="disabled" id="btnNewReport" type="button" class="btn btn-default btn-xs pull-right" onclick="addEditModal();" >
            <span class="fa fa-plus-circle" aria-hidden="true"></span> {{ 'Add' | trans }}
        </button>
        <div id="addEditReport"class="modal fade" role="dialog">
            <div class="modal-dialog" id="divAddEditModalContent">
            </div>
        </div>
        <div class="clearfix"></div>
        #}

    </form>
</div>