{% extends 'base.html.twig' %}

{% block body_id 'config_index' %}

{% block main %}

    <div class="jumbotron">
        <h2>Please update the configuration</h2>
        <p></p>
    </div>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}