.container-fluid, {
    background-color: white;
    height: 100%;
}

.header {
    height: 5em;
}

.row {
    height: calc(100% - 5em);
    overflow: auto;
}

.list, .details {
    height:100%;
    padding-bottom: 10px;
}