@import '~theme/theme-variables.scss';

.desktop {

    h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        margin:0;
        display: inline-block;
    }

    .home {
        padding-right: 20px;
        font-size: 1.5rem;
    }

    select {
        margin-right: 20px;
    }

    .badge-title {
        color:white;
        font-size: 1.0rem;
        margin-inline-start: 5px;
    }

    .badge-title > span {
        margin-inline-start: 5px;
    }
}

.mobile {
    display: none !important;
    height: 100%;

    button:first-child{
        font-weight: bold;
    }

    h5 {
        padding-left: 10px;
        padding-top: 10px;
        margin: 0;
    }
}

.menu {
    position: absolute ;
    z-index:10 ;
    background-color: white ;
    width:100% ;
    text-align: center;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;   
            padding: 0.3em;
            border-bottom: 1px solid $argus-gray-100;

            .badge-title {
                color:white;
                font-size: 0.7rem;
                margin-inline-start: 5px;
            }
            
            .badge-title > span {
                margin-inline-start: 5px;
            }
        }
    }
}

.menu-filter {
    padding: 0 15px 15px 15px;
}

.btn-link {
    color:black;
}

.btn-link:hover {
    text-decoration: unset;
}

.btn-link:focus, .btn-link.active {
    color: $violet;
    text-decoration: unset;
}

@media all and (max-device-width: 480px)
{
    .desktop {
        display: none;
    }

    .mobile {
        display: flex !important;
    }
}

